body {
  font: 16px/1.5 Lato, "Sofia Pro", More Pro, Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

#header {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #2aa198;
  line-width: 2;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}
h2 {
  font-size: 25px;
  font-weight: 300;
}

.sec {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #005bbb;
}

.sechighlight {
  background-color: #e1e1e1;
  color: #2aa198;
}

td { min-width: 200px; }